*{
    margin: 0;
    box-sizing: border-box;
}

.content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.img{
    max-width: 100%;
}

p,ul,ol,li {
    margin-bottom: 60px;
}

h1,h2 {
    margin-bottom: 10px;
}
